"*":
  "color-tabs":
    backgroundStyle: "solid"
  core:
    audioBeep: false
    packagesWithKeymapsDisabled: [
      "linter-ui-default"
    ]
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    lineHeight: 1.7
    preferredLineLength: 100
    showInvisibles: true
  "exception-reporting":
    userId: "4f6324c1-ead3-d7ba-46dd-8bfe9e121635"
  fonts: {}
  "linter-ui-default":
    showPanel: true
    showStatusBar: false
    statusBarRepresents: "Entire Project"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
