packages: [
  "advanced-open-file"
  "ariake-dark-syntax"
  "atom-wallaby"
  "autoclose-html"
  "blame"
  "busy-signal"
  "color-picker"
  "ctrl-dir-scroll"
  "cursor-history"
  "file-icons"
  "fonts"
  "highlight-line"
  "highlight-selected"
  "indent-guide-improved"
  "intentions"
  "keybinding-cheatsheet"
  "language-pug"
  "line-jumper"
  "linter"
  "linter-eslint"
  "linter-sass-lint"
  "linter-ui-default"
  "markdown-writer"
  "minimap"
  "minimap-highlight-selected"
  "multi-cursor"
  "nord-atom-syntax"
  "nord-atom-ui"
  "package-sync"
  "pigments"
  "react"
  "scroll-without-moving-cursor"
  "zentabs"
]
